<div class="container">

  <div class="page-header">
    <h3>Cadastro de Profisisonal</h3>
  </div>

  <app-card-container>

    <h5>Dados do profisisonal</h5>
    <form [formGroup]="formProfissional">
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="">Nome</label>
          <input type="text" class="form-control" formControlName="nome">
        </div>
        <div class="col-md-6 form-group">
          <label for="">Especialidade</label>
          <input type="text" class="form-control" formControlName="especialidade">
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-end">
        <button class="btn btn-padrao mr-2" type="button">Cancelar</button>
        <button class="btn btn-primario" type="button" (click)="salvarProfissional()">Salvar</button>
      </div>

    </div>
  </app-card-container>
</div>